:root {
    /* Color Variables */
    --bg-color: #000000;
    --text-color: #FFFFFF;
    --button-color: #7209b7;
    --button-hover-color: #5e0793;
    --icon-color: #CCCCCC;
}

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Page Background and Font */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    height: 100vh;
}

/* Global Font Styles */
a,
p,
h1,
label,
input[type="button"],
input[type="submit"] {
    font-variant: small-caps;
}

/* Button Styling */
.logout-button,
.button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: var(--button-color);
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.logout-button {
    text-decoration: none;
    position: absolute;
    right: 20px;
    top: 20px;
}

.logout-button:hover,
.button:hover {
    background-color: var(--button-hover-color);
}

/* Button Container */
.button-container {
    text-align: right;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-direction: row-reverse;
}

.button-container p {
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
    cursor: pointer;
    color: var(--text-color);
}

.button-container p:hover {
    color: var(--button-color);
}

/* Icon Styling */
.icon {
    color: var(--icon-color);
}

/* Modal Background and Content */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.modal-content {
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
}

/* Form Container for Modal */
.form-container.modal-content {
    background-color: #0d0d0d;
    border: 1px solid var(--text-color);
    width: 450px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.form-container h1,
.modal-content>h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 15px;
    color: #f8f8f8;
}

/* Close Button in Modal */
.close {
    position: absolute;
    top: 30px;
    right: 55px;
    font-size: 40px;
    cursor: pointer;
    color: var(--text-color);
}

/* Main Content */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

/* Login Form */
.login-form {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--text-color);
    background-color: #0d0d0d;
    padding: 15px 0px 20px 0px;
}

.login-form form {
    width: 85%;
}

/* Label Styles */
.form-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
    color: #f8f8f8;
}

/* Input Fields */
.form-container input[type="text"],
.form-container input[type="password"],
.form-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #666;
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: #1c1c1c;
    color: var(--text-color);
    resize: none;
}

.form-container input:focus {
    outline-color: var(--button-color);
}

/* Error Container */
.error-container {
    border: 1px solid red;
    margin-bottom: 15px;
    padding: 10px;
    width: 350px;
}

.error-container p {
    color: red;
    text-align: center;
}

/* Date and Time Selector Styling */
.select-date-container,
.select-time-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
}

.select-date,
.select-time {
    cursor: pointer;
    padding: 8px;
    background-color: #1c1c1c;
    color: var(--text-color);
    border-radius: 2px;
    border: 1px solid #666;
    text-align: center;
    flex: 1;
}

.select-date:hover,
.select-time:hover {
    border: 1px solid var(--button-color);
}

/* Event Card Styling */
.event-card {
    background-color: #1c1c1c;
    color: #f8f8f8;
    padding: 20px;
    border: 1px solid var(--text-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    min-width: 300px;
    margin: 10px auto;
    position: relative;
}

/* Event Card Elements */
.event-card .card-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.event-card .card-description {
    font-size: 0.9em;
    color: #c0c0c0;
    margin-bottom: 15px;
    line-height: 1.5;
}

.event-card .card-datetime,
.event-card .card-duration {
    font-size: 0.85em;
    color: #a0a0a0;
    margin-bottom: 5px;
}

/* Delete and Edit Icons */
.event-card .close {
    font-size: 1.3em;
    color: #ff5050;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    transition: color 0.2s;
}

.event-card .close:hover {
    color: #ff8080;
}

/* Edit Icon Styling */
.event-card .close:nth-child(5) {
    color: #9998FF;
    right: 45px;
}

.event-card .close:nth-child(5):hover {
    color: #ccccff;
}

.dashboard {
    max-height: 90vh;
    overflow-y: scroll;
}

/* Hide Scrollbar */
.dashboard::-webkit-scrollbar {
    display: none;
}